/***************************************************************************************************/
/******************************************标题样式*************************************************/
/***************************************************************************************************/
/*.container {
    position: relative;
    top: 30px;
  }*/
.bg-light main {
/*  background-color: red;*/
  position: relative;
  top: 70px;
}

  .nav-scroller a{
    color: gray;
  }
  .nav-scroller a:hover {  color: #fff; }

#downa a:hover {  color: green; }

.btit{
    text-align: left;
    font: 17px/35px arial,sans-serif;
    background-color: #ccccca;
    color: black;
    text-align: center;
/*    border-top: 20px solid #f8f9fa;*/
}
.tit{
     text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      /*float: left; */
     /* position: absolute;*/
      display:inline;
      font: 16px/28px arial,sans-serif; 
      color: #022;
     /* height: 50px;*/
      background-color: #e8e7e3;
      border: 1px solid #f8f9fa;  
}
.tit:hover {    
      background-color:  #ccccca; 
}
/*.titflac {    background-color:  #D1EEEE;   }*/
.titwav {   background-color:  #D1EEEE;  }
.titmp3 {   background-color:  #FAF0E6;  }
    


.icon { 
    border: 10px #f8f9fa solid;
    border-radius: 15px;
    padding: 3px;
    padding-bottom: 0px;
    font: 12px/20px arial,sans-serif; 
    text-align: center;
     /* float: left;*/
    overflow: hidden;
  /*    white-space: nowrap;*/
      text-overflow: ellipsis;

   /* float: left;*/
  /*  white-space: nowrap;*/
 }
 .icon:hover {    
    background-color: #ccccca;
    font: bold 12px/20px arial,sans-serif; 
    /*background-color: #B5B5B5;*/
    /*padding: 4px;*/
} 

/***************************************************************************************************/
/******************************************文章页面样式*********************************************/
/***************************************************************************************************/
      /*总体文本大小*/
      .contents {
        margin: 5px;
        word-spacing: 2px;
        font: 16px/26px arial,sans-serif;
        color: #333;

      /*  background-color: red;*/
        /*background-color: green;*/
        
        white-space: pre-wrap;           /* css-3 */
        white-space: -moz-pre-wrap;      /* Mozilla, since 1999 */
        white-space: -pre-wrap;          /* Opera 4-6 */
        white-space: -o-pre-wrap;        /* Opera 7 */
        word-wrap: break-word;           /* Internet Explorer 5.5+ */
      }


  .contents pre {
    position: relative;
    border-radius: 5px;
    padding: 1px;
    width: 100%;

      padding: 7px;
      border-radius: 6px;

      background-color: #2E3436;
/*       background-color: red;*/
      color: #e8e7e3;

      /*letter-spacing: 1px;*/
 /*     word-spacing: 1px;*/
      font: 14px/24px arial,sans-serif;


  }



/*代码复制按钮*/
  .copybtn {
    background-color: gray;
    position: absolute;
    right: 8px;
   }
/*留言*/



#mestexts {
  background-color: #e8e7e3;
  margin-top:5px; 
  margin-bottom: 4px; 
  
 /* background-color: red;
  margin-top:10px; 
  margin-bottom:10px; 
  border:1px solid green;*/

}
#message {
/*  position: relative;*/
    border-radius: 4px;
   /* border-top: 7px;*/

    padding: 7px;
/*    padding-right: auto;
    padding-right: auto;*/
 /*   border-radius: 6px;*/
/* margin-left: auto;*/

    background-color:   #E8E8E8;
    color: #363636;
    font: 14px/24px arial,sans-serif;
   /* width: 50%;*/
   white-space: pre-wrap;           /* css-3 */
        white-space: -moz-pre-wrap;      /* Mozilla, since 1999 */
        white-space: -pre-wrap;          /* Opera 4-6 */
        white-space: -o-pre-wrap;        /* Opera 7 */
        word-wrap: break-word;           /* Internet Explorer 5.5+ */
}
.messageedit {
  width: 100%;
  height: 13%;
  color: red;
  background-color: gray;
}

/***************************************************************************************************/
/******************************************视频播放器样式********************************************/
/***************************************************************************************************/
#moveplayer{
      display: none;
      z-index: 1500px;
    /*  position: absolute;cursor: pointer;*/
      position: fixed;cursor: pointer;
      background-color: #ccccca;
      right: 0.8%; bottom: 11px;
      width: 350px; height: 35%;
      padding-top: 23px;
      box-shadow: 0px 0px 5px #DCDCDC;
}

#newmove{
     display: none;
      z-index: 1500px;
      /*background-color: #ccccca;*/
      background-color: gray;
      position: fixed;cursor: pointer;
      right: 0.8%; bottom: 11px;
      width: 370px; 
      height: 35%;
      box-shadow: 0px 0px 7px  gray;
 /*     box-shadow: 4px 4px 7px #DCDCDC;*/

     /* border:2px solid  #ccccca;*/
     /* border:2px solid  gray;*/
      border-radius: 5px;
/*      padding-top: 25px;*/
      padding-top: 1.5%;
      
}

/*iframe*/
.plaif {
      z-index: 1100px;
      border: none; 
      height: 100%;
      width: 100%;
}

/***************************************************************************************************/
/******************************************音频播放器样式********************************************/
/***************************************************************************************************/
#aplayer{
      position: fixed;cursor: pointer;
      bottom: -3px;
      left: -5px;
      width: 100%; 
      /*width: 370px; */
   /*   height: 13%; */
      height: 87px;

     /* border:1px solid  #ccccca;*/
/*      border-radius: 5px;
      padding-top: 25px;*/

      display: none;
      z-index: 1500px;
      box-shadow: 0px 0px 6px gray;   
}



.pos_t {

   display: none;
    position: fixed;cursor: pointer;
    height: 165px;
    /*width: 100%;*/
/*  width: 570px; */
    bottom: 0px; 
    left: 0px;
    z-index: 1500px;
   box-shadow: 0px 0px 7px  gray;
}
